# Database
DATABASE_URL=postgresql://neondb_owner:npg_ywxKM4WACeh9@ep-young-boat-an9eqgh5.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# LLM Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Email Providers
RESEND_API_KEY=
SENDGRID_API_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# Auth
LUCIA_SESSION_SECRET=

# License
POUNCE_LICENSE_KEY=

# App
APP_URL=http://localhost:4321
NODE_ENV=development